<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">YelpCamp 2021 &copy | Powered by <a href="http://lbhost.co.uk">LB HOST</a></span>
    </div>
</footer>